NEXT_PUBLIC_CROSSMINT_APIKEY=ck_staging_31nCf6JxZVxJtrQi14N1vnje2sKBjcTYwMRrWHxdeWryZpfLwmBJsSBJBFAF74SwRcihnMAhxcehMQ2F8sTBpvVNPcq3vJqK8R4vAM1uzmRCWEj12zEGVG5efeWi8i9WieeVAhpb4rTYcspVpe8Df1RooDfmQmpLZ5bL3CKHQd5sVi1F2wADnxtcNVFxrgjhLryuw1kHzWPwN51ysvdeq9K
