ENV=
PORT=
PROJECT_NAME=
CLIENT_DOMAIN=
INVITE_CODE_PREFIX=
DOMAIN=
DATABASE_URL=
ALGORITHM=HS256
APP_SECRET_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
REDIS_URL=
GEMINI_API_KEY=
RATE_LIMIT_RULES_PATH=